.blognav{
  color: #3498DB;
}

.postRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.postRow > div{
  width: 300px;
}

.postRow img{
  width: 290px;
  margin-top: 5px;
}
